# Import All the Library

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Code for Web Scrapping the Company data and make a Data Frame

In [3]:
final=pd.DataFrame()
for j in range(1,333):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
  soup=BeautifulSoup(webpage,'html.parser')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  how_old=[]
  no_of_employee=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('p',class_='rating').text.strip())
    except:
       rating.append(np.nan)
   
    try:

      reviews.append(i.find('a' , class_='review-count').text.strip())
    except:
      reviews.append(np.nan)

    try:

      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:

      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)
    
    try:

      how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    try:
      no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)
    

  df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
  
  final=final.append(df,ignore_index=True)

C:\Users\Vishwjeet\AppData\Local\Temp\ipykernel_4404\3928621997.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

# Shape of Data Frame

In [5]:
final.shape

(9959, 7)

# Top 5 Rows of Data Frame

In [6]:
final.head()

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee
0,TCS,3.9,(35.2k Reviews),Public,"Mumbai,Maharashtra + 227 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(23.9k Reviews),Public,"Dublin,Dublin + 125 more",33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(22k Reviews),Private,"Teaneck,New Jersey + 84 more",28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(28.9k Reviews),Public,"Mumbai,Maharashtra + 950 more",28 years old,50k-1 Lakh Employees (India)
4,HDFC Bank,4.0,(29.8k Reviews),Public,"Mumbai,Maharashtra + 1038 more",28 years old,1 Lakh+ Employees (India)

# Export the Data Frame into the CSV

In [8]:
final.to_csv('Company_Data_Set.csv')